/* PAGE */
.product-page {
  display: flex;
  gap: 40px;
  padding: 30px;
  background: #f6f7fb;
}

/* IMAGE */
.image-container {
  display: flex;
  gap: 15px;
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.main-image {
  width: 400px;
  height: 450px;
  object-fit: contain;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

/* DETAILS */
.details-container {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.product-title {
  font-size: 22px;
  font-weight: 600;
}

/* RATING */
.rating {
  margin: 10px 0;
}

.star {
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}

.active-star {
  color: #ffb400;
}

.rating-value {
  margin-left: 10px;
}

/* PRICE */
.price-box {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  align-items: center;
}

.new-price {
  color: #e40046;
  font-size: 24px;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: gray;
}

.discount {
  color: green;
}

/* SIZE */
.sizes button {
  margin-right: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.active-size {
  border: 2px solid #e40046;
  background: #ffe6ef;
}

/* BUTTONS */
.button-group {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.cart-btn {
  background: #333;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.buy-btn {
  background: #e40046;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

/* DELIVERY */
.delivery {
  margin: 20px 0;
}

.delivery input {
  padding: 8px;
  margin-right: 10px;
}

/* DESC */
.desc {
  margin-top: 20px;
}